img {
    margin-left: 523px;
    margin-top: 250px;
    display: inline;
}

body{
    margin: 0;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 10px;
    color: white;
    text-decoration: none;
    background-color: #d43024;
    margin-left: 0px;
    margin-top: 30px;
    transition: 2ms;
    font-weight: bolder;
    padding-right: 20px;
    padding-left: 10px;
}

.radios {
    border-radius: 0px 8px 8px 0px;
    
}
.topnav a:hover{
    color:cadetblue
}

.input {
    margin-left: 530px;
    margin-top: 26px;
    padding: 10px 5px;
    padding-left: 24px;
    border-radius: 15px;
    width: 500px;
    outline: none;
    border-left-color: lightslategrey;
    border-right-color: lightslategrey;
    border-top-color: lightslategrey;
    border-bottom-color: lightslategrey;

}

.googlesearch{
    margin-left: 655px;
    margin-top: 20px;
    padding: 10px;
}
.lucky{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
}

.dokme{
    display: initial;
    margin: 26px;
}
.dokme button {
    border-radius: 15px;
    border-top-color: ivory;
    border-bottom: ivory;
    border-left: ivory;
    border-right: ivory;
    outline: none;
}


.bottomnav{
    background-color: #f1f1f1;
    padding: 18px;
    margin-bottom: 0px;
    display: flex;
    margin-top: 280px;
}
.floatleft {
    float: left;
    padding-left: 5px;
    margin: auto;
}
.floatleft a {
    text-decoration: none;
    color: rgb(131, 131, 131);
    text-align: center;
    margin-left: 20px;
}

.floatright{
    float: right;
    padding-right: 5px;
    margin-right: 1100px;
}
.floatright a{
    text-decoration: none;
    color: rgb(131, 131, 131);;
    margin-right: 20px;
}